* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  max-width: 1280px;
  text-align: center;
}

.card--container {
  left: 0;
  position: relative;
  margin-bottom: 1rem;

  .card--countries {
    border: none;
    border-radius: 4px;
    background-color: rgb(35 55 75 / 90%);
    color: #fff;
    font-family: monospace;
    margin: 12px;
    padding: 6px 12px;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    cursor: pointer;
  }

  .card--countries:hover {
    color: red;
  }

  li {
    list-style: none;
  }
}

.control-panel {
  position: absolute;
  border: 1px solid yellow;
}

#map-container {
  height: 100vh; /* Beispiel: 400px hohe Karte */
  width: 100vw; /* Breite des Containers */
  overflow: hidden;
  position: absolute;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: a;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.reset-button {
  position: absolute;
  top: 50px;
  z-index: 1;
  left: 12px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.custom-marker {
  cursor: pointer;
}
